<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.verificationbot.bot</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/general/Documents/verificationbot/run.sh</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/Users/general/Documents/verificationbot</string>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/Users/general/Documents/verificationbot/bot.out.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/general/Documents/verificationbot/bot.err.log</string>
</dict>
</plist>
